html {
    background-color: #f48969c4;
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36pt;
    font-weight: bold;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}
p {

    font-family: 'Noto Sans', sans-serif;
    font-size: 14pt;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 50px;

}
.logo {
    display: flex;
    justify-content: flex-start;
}
.inline-block {
    display: flex;
    justify-content: space-between;
}

.footer-item{
    display: inline-block;
}

.nav-items {
    display: inline-block;
}

.myWork {
    display: grid;
    grid-template-columns: center;
}

.workGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.mySkills {
    display: grid;
    justify-content: center;

}
.flexContainer {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    justify-content: center;
}

.button {
    padding-bottom: 10px;
    padding-top: 10px;


}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 50px;

}
.icon {
    visibility: hidden;
    
}

@media screen and (max-width:375px)
{
    .icon {
        display: inline-block;
        visibility: visible;
        margin-left: 0px;
    }

    .nav-items {
        visibility: hidden;
    }
    .navigation {
        display: flex;
        align-items: flex-end;
    }
 
}